# Visual Studio specific files
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.sdf
*.opensdf
*.tlog
*.lastbuildstate
ipch/
*.pdb

# Ignore Build folders
Debug/
Release/
x64/
x86/
*.obj
*.idb
*.ilk
*.map

# Ignore CMake files (if used)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore logs
*.log.idea/workspace.xml
